@font-face {
  font-family: 'Karrik';
  src: url('fonts/Karrik-Regular.woff2') format('woff2'),
      url('fonts/Karrik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Millimetre Light';
  src: url('fonts/Millimetre-Light.woff2') format('woff2'),
      url('fonts/Millimetre-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Millimetre Light";
}

.logo {grid-area: logo;}
header {grid-area: nav;}
.lab {grid-area: lab}
.services{grid-area: services}
#references {grid-area: references}
#credits {grid-area: credits}


.grid
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, minmax(50px, auto));
  grid-template-areas:  "logo"
                        "nav"
                        "lab"
                        "services"
                        "credits"
                        "references";
}

header,
aside,
article,
footer,
.logo,
.services,
.credits {
  padding: 1em 0;
}

nav {
  flex: 1;
}

.menu {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.menu a {
  color: #000000;
  display: block;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  padding: 1em 2em;
  font-family: "Karrik";
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s;
}

.menu li:nth-child(1) a:hover{
  color: orange;
}

.menu li:nth-child(2) a:hover{
  color: #223eef;
}

.menu li:nth-child(3) a:hover{
  color: #FF00FF;
}
.menu li:nth-child(4) a:hover{
  color: #F72A00;
}

.services{
  display: flex;
}

.lab {
  padding: 1em 1em 1em 2em;
  background: black;
  color: white;
}

h2 {
  font-family: "Karrik";
  font-size: 1.6em;
  font-weight: normal;
  text-transform: uppercase;
}

p{
  line-height: 1.5;
}

.subtitle {
  line-height: 1;
}

img{
  max-width: 100%;
}

.logo img {
  max-width: 100%;
}

.services a{
  text-decoration: none;
  color: black;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 1em;
  transition: all 0.3s;
}

.services a.dissimulation:hover {
  border: 2px solid #223eef;
}

.services a.reflexion:hover {
  border: 2px solid #FF00FF;
}

.services a.saturation:hover {
  border: 2px solid #F72A00;
}

.services h3 {
  font-family: "Karrik Regular";
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 2px;
}

.services img {
  max-width: 100%;
}

#credits {
  background: black;
  color: white;
  padding: 1em;
}

#credits a {
  color: white;
}
#credits a:hover {
  color: orange;
}


#references {
  background: black;
  color: white;
  padding: 1em;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 60em;
  padding: 1em 0;
}



@media screen and (min-width: 768px)
{
  .grid
  {
    grid-gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-areas:  "logo logo nav nav nav nav"
                          "lab lab lab lab lab lab"
                          "services services services services services services"
                          "credits credits credits credits credits credits"
                          "references references references references references references";
  }
  .grid > * {
    display: flex;
    justify-content: center;
  }

  .services a{
    flex: 1;
    min-height: 540px;
  }
  .lab-inner {
    display: flex;
    align-items: inherit;
  }
  .lab-inner .text-desc {
    flex: 3;
  }
  .lab-inner .image-desc {
    flex: 2;
    margin-left: 1em;
  }
  .logo {
    display: block;
    align-self: center;
  }
  #credits h2, #references h2 {
    flex: 1;
  }
  #credits p, #references p {
    flex: 2;
  }
  #credits ul, #references ul {
    flex: 2;
  }
}
